body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(http://az616578.vo.msecnd.net/files/2017/02/26/636236647891795212206877548_1229d40ff6f484cd0fe33425ef5c92a3.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(http://image.club.china.com/twhb/2016/3/29/1011/pictuku/1459218544756.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(http://desk.fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/03/ChMkJlbKxmWIAcUNAA6RnijxcSUAALHkgJxnsgADpG2410.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(http://pic1.win4000.com/wallpaper/d/58070b28c06eb.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(http://vnews.agency/uploads/posts/2015-11/1446629391_karpati.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
